<div class="form">
<%= form_for @waterfall, url: @waterfalls_path, :html => { :multipart => true } do |f| %>

  <% if @waterfall.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@waterfall.errors.count, "error") %> prohibited
        this waterfall from being saved:
      </h2>
      <ul>
        <% @waterfall.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title, autocomplete: 'off' %>
  </p>
 
  <p>
    <%= f.label :text %><br>
    <%= f.text_area :text, size: "60x10" , autocomplete: 'off' %>
  </p>
 
  <p>
    <%= f.label :height %><br>
    <%= f.text_field :height, autocomplete: 'off' %>
  </p> 

  <p>
    <%= f.label :width %><br>
    <%= f.text_field :width, autocomplete: 'off' %>
  </p>
    <p>
    <%= f.label :drops %><br>
    <%= f.text_field :drops, autocomplete: 'off' %>
  </p>
    <p>
    <%= f.label :tallestDrop %><br>
    <%= f.text_field :tallestDrop , autocomplete: 'off'%>
  </p>
    <p>
    <%= f.label :form %><br>
    <%= f.text_field :form , autocomplete: 'off'%>
  </p>
  <p>
    <%= f.label :watershed %><br>
    <%= f.text_field :watershed , autocomplete: 'off'%>
  </p>
  <p>
    <%= f.label :stream %><br>
    <%= f.text_field :stream, autocomplete: 'off' %>
  </p>
    <p>
    <%= f.label :location %><br>
    <%= f.text_field :location, autocomplete: 'off' %>
  </p>
    <p>
    <%= f.label :state %><br>
    <%= f.text_field :state, autocomplete: 'off' %>
  </p> 
   <p>
    <%= f.label :visit %><br>
    <%= f.text_field :visit, autocomplete: 'off' %>
  </p>
 
 <p>
		<%= f.file_field :avatar%>  
 </p>
  <p>
    <%= f.submit "Upload", class: "btn btn-primary" %>
  </p><br>
<% end %>
</div>