<div class="container">
	<div class="page">
	<div class="row waterfall">
			<div class="col-xs-5">
   				<h4><%= sort_link(@q, :title) %></h4>
   		</div>
			<div class="col-xs-2">
					<h4><%= sort_link(@q, :state) %></h4>
			</div>
			<div class="col-xs-1">
					<h4><%= sort_link(@q, :height, default_order: :desc) %></h4>		
			</div>
			<div class="col-xs-1">
					<h4><%= sort_link(@q, :width, default_order: :desc) %></h4>		
			</div>
	</div>

  			<% @waterfalls.each do |waterfall| %>
  			<div class="row waterfall">
				<div class="col-xs-3">
      			<h4><%= link_to waterfall.title, waterfall_path(waterfall)%></h4>
      		</div>
      		<div class="col-xs-2">		
      			<h4><%= image_tag waterfall.avatar.url(:thumb), class: "img-responsive big-picture"%></h4>
      		</div>
      		<div class="col-xs-2">		
      			<h4><%= waterfall.state%></h4>
      		</div>
      		<div class="col-xs-1">		
      			<h4><%= waterfall.height%> feet</h4>
      		</div>
      		<div class="col-xs-1">		
      			<h4><%= waterfall.width%> feet</h4>
      		</div>
      		<% if admin_signed_in? %>
      			<div class="col-xs-3">	
	   	   		<%= link_to 'Edit', edit_waterfall_path(waterfall), class: "btn btn-primary" %>
	   	   		<%= link_to 'Destroy', waterfall_path(waterfall),
   		   	        method: :delete,
      		   	     data: { confirm: 'Are you sure?' }, class: "btn btn-primary" %>
      		   </div>
      		   <% else %>
      		   	<div class="col-xs-3"></div>
				<% end %> 
			</div>   	
  			<% end %>

	<%= paginate @waterfalls %>
			<% if admin_signed_in? %>
				<%= link_to 'New', new_waterfall_path(), class: "btn btn-primary" %>
			<% end %>
	</div> 
</div>
