<div class="jumbotron">
	<h1>List of Waterfalls</h1>
</div>
<div class="container">
	<div class="page">
	<div class="row">
		<% paginate @waterfalls %>	
			<div class="col-xs-6">
   				<h2>Name</h2>
   		</div>
			<div class="col-xs-3">
					<h2>State</h2>			
			</div>
	</div>

  			<% @waterfalls.each do |waterfall| %>
  			<div class="row">
				<div class="col-xs-3">
      			<h4><%= link_to waterfall.title, waterfall_path(waterfall), class: "waterfall-title" %></h4>
      		</div>
      		<div class="col-xs-3">		
      			<h4><%= image_tag waterfall.avatar.url(:thumb),  class: "img-responsive big-picture"%></h4>
      		</div>
      		<div class="col-xs-3">		
      			<h4><%= waterfall.state%></h4>
      		</div>
      		<% if admin_signed_in? %>
      			<div class="col-xs-1">	
	   	   		<h4><%= link_to 'Edit', edit_waterfall_path(waterfall), class: "waterfall-title" %></h4>
	   	   	</div>
	   	   	<div class="col-xs-1">	
	   	   		<h4><%= link_to 'Destroy', waterfall_path(waterfall),
   		   	        method: :delete,
      		   	     data: { confirm: 'Are you sure?' }, class: "waterfall-title" %></h4>
      		   </div>
      		   <% else %>
      		   	<div class="col-xs-3"></div>
				<% end %> 
			</div>   	
  			<% end %>

	<%= paginate @waterfalls %>
			<% if admin_signed_in? %>
				<%= link_to 'New', new_waterfall_path(), class: "btn btn-primary" %>
			<% end %>
	</div> 
</div>
