		<div class="jumbotron">
			<h1>
	  			<strong><%= @waterfall.title %></strong>
			</h1>
		</div>

<div class="container">
	<div class="page description">
 		<div class="row">
 			<div class="col-md-6">
 					<p><strong>Summary:</strong></p>
					<p><%= @waterfall.text %></p>
					<p><strong>Height:</strong> <%= @waterfall.height %> feet</p>
					<p><strong>Average width:</strong> <%= @waterfall.width %> feet</p>
					<p><strong>Drops:</strong> <%= @waterfall.drops %></p>
					<p><strong>Tallest drop:</strong> <%= @waterfall.tallestDrop %> feet</p>		
					<p><strong>Waterfall form:</strong> <%= @waterfall.form %></p>
					<p><strong>Watershed:</strong> <%= @waterfall.watershed %></p>
					<p><strong>Stream:</strong> <%= @waterfall.stream %></p>
					<p><strong>Location:</strong> <%= @waterfall.location %></p>
					<p><strong>State:</strong> <%= @waterfall.state %></p>
					<% if @waterfall.visit == true %>					
						<p><strong>Visited:</strong> Yes</p>
					<% else %>
						<p><strong>Visited:</strong> No</p>
					<% end %>
			</div>
 			<div class="col-md-6">
				<%= image_tag @waterfall.avatar.url(:medium), class:"img-responsive big-picture" %>
			</div>
			
		</div>
		
		<div class ="row comments">
 			<div class="col-sm-6">
				<h3>Comments</h3>
				<%= render @waterfall.comments %>
			</div> 		
 		</div>
 		<div class ="row">
 			<div class="col-sm-6">
				<h3>Add a comment:</h3>
				<%= render 'comments/form' %>
			</div>
		</div>
		<% if admin_signed_in? %>
			<%= link_to 'Edit', edit_waterfall_path(@waterfall), class: "waterfall-title" %>|
		<% end %>
		<%= link_to 'Back', waterfalls_path, class: "waterfall-title"  %>
	</div>
</div>
