<div class="page">
	<h1>
	  <strong><%= @waterfall.title %></strong>
	</h1>
 
	<p>
	  <%= @waterfall.text %>
	</p>

	<h3>Comments</h3>
	<%= render @waterfall.comments %>
 
	<h5>Add a comment:</h5>
	<%= render 'comments/form' %>

	<%= link_to 'Edit', edit_waterfall_path(@waterfall) %> |
	<%= link_to 'Back', waterfalls_path %>
</div>
