	<% if admin_signed_in? %>
		<%= link_to 'New', new_post_path(), class: "btn btn-primary" %>
	<% end %>

  			<% @posts.each do |post| %>
  			<div class="row posts">
  				<div class="col-md-3"></div>
      		<div class="col-md-6">
      		   <h4 class="post-title"><%= link_to post.title, post_path(post)%></h4>
      		   <h6>by Adam Bodie</h6>		
      			<p><%= post.text%></p>
      		</div>
      		<% if admin_signed_in? %>
      			<div class="col-md-3">	
	   	   		<%= link_to 'Edit', edit_post_path(post), class: "btn btn-primary" %>
	   	   		<%= link_to 'Delete', post_path(post),
   		   	        method: :delete,
      		   	     data: { confirm: 'Are you sure?' }, class: "btn btn-primary" %>
      		   </div>
      		   <% else %>
      		   	<div class="col-md-3"></div>
				<% end %> 
			</div>
			<% end %>   	