<!DOCTYPE html>
<html>
<head>
  <title>Waterfalls</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<!-- Latest compiled and minified CSS -->
<%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"%>

<!-- Optional theme -->
<%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"%>


  <%= stylesheet_link_tag "normalize" %>
  <%= stylesheet_link_tag "main" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<!-- Latest compiled and minified JavaScript -->
<%= javascript_include_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"'data-turbolinks-track' => true %> 
  

</body>
</html>