<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Waterfalls</title>
	<!-- Latest compiled and minified CSS -->
	<%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"%>
	<!-- Optional theme -->
	<%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"%>
  <%= stylesheet_link_tag "normalize" %>
  <%= stylesheet_link_tag "main" %>  
  <%= stylesheet_link_tag "waterfalls" %>  
  <%= stylesheet_link_tag "admin" %>  
  <%= stylesheet_link_tag "posts" %>  
  <%= stylesheet_link_tag "query" %>    
  <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Ubuntu:400,700" %>  
  <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" %> 
  <%= csrf_meta_tags %>
</head>
<body data-vide-bg="../videos/background.mp4" data-vide-options="loop: true, muted: true">
<nav class="navbar navbar-default navbar-static-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<i class="fa fa-bars"></i>
          </button>
          	<h2 id="main-title">Adam's Wonderful World of Waterfalls</h2>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><%= link_to('Home', root_path) %></li>
            <li><%= link_to 'Waterfalls', controller: '/waterfalls' %></li>
            <li><%= link_to 'Blog', controller: '/posts' %></li>
            <% if admin_signed_in? %>
					<li><%= link_to('Log Out', destroy_admin_session_path, :method => :get) %></li>
				<% end %>            
          </ul>
        </div>
      </div>
    </nav>
    
<%= yield %>
    <footer class="footer">
      <div class="container-fluid">
        <h4>© 2016 Adam Bodie, Inc.</h4>
      </div>
    </footer>
<!-- Latest compiled and minified JavaScript -->
<%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js" %>
<%= javascript_include_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" %>
<%= javascript_include_tag "jquery.sticky"%>
<%= javascript_include_tag "jquery.vide.min" %>  
<%= javascript_include_tag "sticky" %>
<%= javascript_include_tag "animation" %>
<%= javascript_include_tag "overlay" %>  


</body>
</html>